<template name="home">

  <nav class="top-bar" data-topbar="" role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{pathFor 'layout'}}">Proyecto final</a></h1>
      </li>

      <li class="toggle-topbar menu-icon"><a href="#"><span>MENU</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><a href="#">Indicadores de Desempeño</a></li>
        <li><a href="#">Comparación de Indicadores</a></li>
      </ul>
    </section>
  </nav>
  
  <div class="row">
    <div class="large-12 columns">
      {{#each menu}}
        <div class="large-5 columns img-position">
          <div class="{{clase_boton}}">
            <img src="{{img_mostrar}}" alt="{{alt_mostrar}}">
            <a href="{{url}}"><h4 class="txt-principal text-center">{{titulo}}</h4></a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

</template>
