@import 'mixins';

body{
 background: #eee;
}

.row-title{
  padding-top: 20px;
}

/* Color del texto general */
.txt-principal{
    color: white;
}

/* Etiqueta del titulo de la pagina */
.lbl-title{
  @include contorno-txt(28);
  background: #49b0f5;
  text-decoration: none;
  border-radius: 10px;
}

/* Formato para el footer */
.row-footer{
  padding-top: 80px;
}

/* Posición de las imagenes*/
.img-position{
  margin-top: 130px;
}

/* Formato para los indicadores */
.fondo-indicadores {
  @include color-fondoTxt(#155580, #0f5d8a);
  @include contorno-txt(13);
}

.fondo-indicadores:hover {
  @include color-fondoTxt(#106ea8, #178dd6);
  text-decoration: none;
}

/* Formato para las comparaciones */
.fondo-comparaciones {
  @include color-fondoTxt(#ff8000, #d6730f);
  @include contorno-txt(13);
}

.fondo-comparaciones:hover {
  @include color-fondoTxt(#db730b, #e88d31);
  text-decoration: none;
}
