<template name="indicadores">
  
  <!-- div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a href="#" class="left-off-canvas-toggle menu-icon"><span></span></a>
        </section>
      </nav>
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Departamentos</label></li>
          <li class="has-submenu">
            <a href="#">1 - DOMESTICOS</a>
            <ul class="off-canvas-list left-submenu">
              <li class="back"><a href="#">Departamentos</a></li>
              <li><label>Clases</label></li>
              <li class="has-submenu">
                <a href="#">121 - LICUADORAS</a>
                <ul class="off-canvas-list left-submenu">
                  <li class="back"><a href="#">Clases</a></li>
                  <li><label>Familias</label></li>
                  <li><a href="#">12101 - LICUADORAS</a></li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#">124 - BATIDORAS</a>
                <ul class="off-canvas-list left-submenu">
                  <li class="back"><a href="#">Clases</a></li>
                  <li><label>Familias</label></li>
                  <li><a href="#">12401 - BATIDORA MANUAL</a></li>
                  <li><a href="#">12403 - PICADORA</a></li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#">127 - CAFETERAS</a>
                <ul class="off-canvas-list left-submenu">
                  <li class="back"><a href="#">Clases</a></li>
                  <li><label>Familias</label></li>
                  <li><a href="#">12703 - TETERAS</a></li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#">129 - TETERAS HERVIDORES</a>
                <ul class="left-submenu">
                  <li class="back"><a href="#">Clases</a></li>
                  <li><label>Familias</label></li>
                  <li><a href="#">12904 - HERVIDOR ELECTRICO</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">2 - CELULARES</a></li>
          <li class="has-submenu">
            <a href="#">2 - ELECTRONICA</a>
            <ul class="left-submenu">
              <li class="back"><a href="#">Departamentos</a></li>
              <li><label>Clases</label></li>
              <li class="has-submenu">
                <a href="#">201 - AMPLIFICADORES CAR AUDIO</a>
                <ul class="left-submenu">
                  <li class="back"><a href="#">Clases</a></li>
                  <li><label>Familias</label></li>
                  <li><a href="#">20104 - BOCINAS CHICAS</a></li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#">202 - AUTO STEREOS</a>
                <ul class="left-submenu">
                  <li class="back"><a href="#">Clases</a></li>
                  <li><label>Familias</label></li>
                  <li><a href="#">20203 - AUTOESTEREO CD C/BOCINAS</a></li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#">216 - DVD</a>
                <ul class="left-submenu">
                  <li class="back"><a href="#">Clases</a></li>
                  <li><label>Familias</label></li>
                  <li><a href="#">21606 - HOME THEATER</a></li>
                  <li><a href="#">21609 - BLU RAY</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">2 - ELECTRONICA PERSONAL</a></li>
          <li><a href="#">2 - TABLETS</a></li>
          <li class="has-menu">
            <a href="#">3 - MUEBLE SUELTO</a>
            <ul class="left-submenu">
              <li class="back"><a href="#">Departamentos</a></li>
              <li><label>Clases</label></li>
              <li class="has-submenu">
                <a href="#">301 – COLCHON</a>
                <ul class="left-submenu">
                  <li class="back"><a href="#">Clases</a></li>
                  <li><label>Familias</label></li>
                  <li><a href="#">30105 - MATRIMONIAL</a></li>
                  <li><a href="#">30110 - ESTANDAR MATRIMONIAL</a></li>
                </ul>
              </li>
              <li><a href="#">303 - COLCHON CUNA</a></li>
              <li><a href="#">304 - CAMAS</a></li>
            </ul>
          </li>
          <li><a href="#">4 - DECORACION</a></li>
          <li class="has-submenu">
            <a href="#">4 – SALAS RECAMARAS COMEDORES</a>
            <ul class="left-submenu">
              <li class="back"><a href="#">Departamentos</a></li>
              <li><label>Clases</label></li>
              <li class="has-submenu">
                <a href="#">401 - SALAS</a>
                <ul class="left-submenu">
                  <li class="back"><a href="#">Clases</a></li>
                  <li><label>Familias</label></li>
                  <li><a href="#">40106 - SALA 32</a></li>
                  <li><a href="#">40115 - 321 VINIL CONTEMPORANEA</a></li>
                </ul>
              </li>
              <li><a href="#">410 - SOFAS</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#">5 - BICICLETAS/BEBES/AUTOMOTRIZ</a>
            <ul class="left-submenu">
              <li class="back"><a href="#">Departamentos</a></li>
              <li><label>Clases</label></li>
              <li><a href="#">501 - BEBES</a></li>
            </ul>
          </li>
          <li><a href="#">6 - LINEA BLANCA</a></li>
          <li><a href="#">7 - RELOJERIA</a></li>
          <li><a href="#">8 - JOYERIA</a></li>
          <li><a href="#">9 - OPTICA</a></li>
        </ul>
      </aside>

      <section class="main-section">

        <div class="row custom-margin">

          <div class="large-6 columns">
            <img src="img/desempeno.jpg" alt="123">
          </div>


          <div class="large-3 columns">

            <div class="large-12 columns text-left"><strong>Meses a consultar</strong></div>
            <div class="large-12 columns">
              <select multiple size=12>
                <option value="ENERO" selected>ENERO</option>
                <option value="FEBRERO">FEBRERO</option>
                <option value="MARZO">MARZO</option>
                <option value="ABRIL">ABRIL</option>
                <option value="MAYO">MAYO</option>
                <option value="JUNIO">JUNIO</option>
                <option value="JULIO">JULIO</option>
                <option value="AGOSTO">AGOSTO</option>
                <option value="SEPTIEMBRE">SEPTIEMBRE</option>
                <option value="OCTUBRE">OCTUBRE</option>
                <option value="NOVIEMBRE">NOVIEMBRE</option>
                <option value="DICIEMBRE">DICIEMBRE</option>
              </select>
            </div>

          </div>

          <div class="large-3 columns border-columns">

              <div class="large-12 columns text-left"><strong>Año consultar</strong></div>
              <div>
                <input id="checkboxYear0" type="checkbox"><label for="checkbox0">2013</label>
              </div>
                <div>
                  <input id="checkboxYear1" type="checkbox"><label for="checkbox1">2014</label>
                </div>
                <div>
                  <input id="checkboxYear2" type="checkbox"><label for="checkbox1">2015</label>
                </div>
          </div>

        </div>

        <div class="row custom-margin">
          <div class="large-6 columns">
            <h4 class="text-center">Venta Unidades e incrementos ( TI & TT )</h4>
            <div id="barras"></div>
          </div>

          <div class="large-6 columns">
            <h4 class="text-center">Venta en pesos e incremento( TI & TT )</h4>
            <div id="barras2"></div>
          </div>
        </div>

        <div class="row custom-margin">
          <div class="large-6 columns">
            <div class="large-6 columns custom-line">
              <h4 class="custom-font text-center">Unidades Vendidas</h4>
              <h4 class="custom-font-cant text-right">45,678,901</h4>
            </div>
            <div class="large-3 columns custom-line">
              <h4 class="custom-font text-center">Inc. TI</h4>
              <h4 class="custom-font-cant text-right">5.60</h4>
            </div>
            <div class="large-3 columns custom-line">
              <h4 class="custom-font text-center">Inc. TT</h4>
              <h4 class="custom-font-cant text-right">1.44</h4>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="large-6 columns custom-line">
              <h4 class="custom-font text-center">Pesos Vendidos</h4>
              <h4 class="custom-font-cant text-right">$3,456,789,123,456</h4>
            </div>
            <div class="large-3 columns custom-line">
              <h4 class="custom-font text-center">Inc. TI</h4>
              <h4 class="custom-font-cant text-right">0.12</h4>
            </div>
            <div class="large-3 columns custom-line">
              <h4 class="custom-font text-center">Inc. TT</h4>
              <h4 class="custom-font-cant text-right">10</h4>
            </div>
          </div>
        </div>

        <hr>

        <div class="row custom-margin">
          <div class="large-10 columns">
            <h4 class="text-center">Historico % de servicios</h4>
            <div id="barras1"></div>
          </div>

          <div class="large-2 columns">
            <h4 class="text-center">Nivel de servicio</h4>
            <div id="calibrador"></div>
          </div>
        </div>

        <hr>

        <div class="row custom-margin">
          <div class="large-10 columns">
            <h4 class="text-center">Rotación Bodega / Tienda / Total</h4>
            <div id="barras3"></div>
          </div>

          <div class="large-2 columns">
            <h4 class="text-center">Rotación total</h4>
            <div id="calibrador1"></div>
          </div>
        </div>

        <div class="row custom-margin">
          <div class="large-10 columns">
            <h4 class="text-center">Días de inventario futuro</h4>
            <div id="piechart"></div>
          </div>

          <div class="large-2 columns">
            <h4 class="text-center">Días de Inventario</h4>
            <div id="calibrador2"></div>
          </div>
        </div>

        <hr>

        <div class="row custom-margin">
          <div class="large-5 columns">
            <h4>Ticket Promedio</h4>
            <div id="barra_horizontal"></div>
          </div>
          <div class="large-5 columns">
            <h4>Ticket Promedio</h4>
            <div id="barra_horizontal1"></div>
          </div>
          <div class="large-2 columns">
            <h1>Grafica Pendiente</h1>
          </div>
        </div>

      </section>
      <a href="#" class="exit-off-canvas"></a>

    <!- - Fin wrap - ->
    </div>
  <!- - Fin de canvas - ->
  </div -->
  
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
      </nav>
  
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Foundation</label></li>
          <li><a href="#">Option 1</a></li>
          <li><a href="#" class="off-canvas-submenu-call">Option 2 <span class="right"> + </span></a></li>
          				<ul class="off-canvas-submenu">
  								<li><a href="#">Sub menu 1</a></li>
  								<li><a href="#">Sub menu 2</a></li>
  								<li><a href="#">Sub menu 3</a></li>
  							</ul>
          <li><a href="#">Option 3</a></li>
          <li><a href="#" class="off-canvas-submenu-call">Option 4 <span class="right"> + </span></a></li>
          				<ul class="off-canvas-submenu">
  								<li><a href="#">Sub menu 1</a></li>
  								<li><a href="#">Sub menu 2</a></li>
  								<li><a href="#">Sub menu 3</a></li>
  							</ul>
          <li><a href="#">Option 5</a></li>
          <li><a href="#">Option 6</a></li>
  
        </ul>
      </aside>
  
      <section class="main-section">
        Content
            <br>
            <br>Content
            <br>
            <br>Content
            <br>
            <br>Content
            <br>
            <br>
      </section>
      <a class="exit-off-canvas"></a>
    </div>
  </div>

  <script>
   	$(".off-canvas-submenu").hide();
  	$(".off-canvas-submenu-call").click(function() {
  		 var icon = $(this).parent().next(".off-canvas-submenu").is(':visible') ? '+' : '-';
  		 $(this).parent().next(".off-canvas-submenu").slideToggle('fast');
  		 $(this).find("span").text(icon);
  	});
  </script>
</template>
